body {
  margin: 0;
  padding: 0;
  background-color: var(--cor_azul);
}

/* fontes */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* cores */
:root {
  --cor_nav: #7b1c18;
  --cor_item: #ffd700;
  --cor_hover: rgb(250, 250, 250);
  --cor_div: #1A1A1A;
  --cor_elegante: #D4AF37;
  --cor_azul: #0c3351;
  --vermelho_vivo: #ff3131;
}

/* cabeçalho */
#nav {
  background-color: var(--cor_nav);
  border: var(--cor_item) 1px solid;
  border-radius: 2px;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0%
}

#logo {
  width: 500px;
  margin: 2px;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: 0.3s;
}

#navegar {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.item {
  color: var(--cor_item);
  margin: 20px;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.item:hover {
  color: var(--cor_hover);
  font-size: 35px;
  text-decoration: underline;
}

#main{
  margin-top: 200px;
}


/* seção 1 */

.titulos{
  display: flex;
  flex-direction: column;
}

.titulo{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_item);
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.sub-titulo{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_item);
  font-size: 35px;
  margin-left: 200px;
}

.linha{
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--cor_item);
}

.separação{
  display: flex;
  gap: 30px;
}

.textos{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.zig{
  height: 300px;
  width: 400px;
}

.imagem{
  width: 350px;
  border-radius: 30px;
}

.imagem2{
  width: 350px;
  border-radius: 30px;
  margin-left: 500px;
}

.mãe{
  display: flex;
  height: 90px;
  width: 1000px;
  background: #731919;
  background: linear-gradient(0deg,rgba(115, 25, 25, 1) 0%, rgba(11, 11, 11, 1) 100%);
  border-radius: 30px;
  padding: 5px;
  gap: 20px;
  align-items: center;
  margin-left: 100px;
}

.número{
  background-color: var(--vermelho_vivo);
  border: 1px var(--vermelho_vivo) solid;
  border-radius: 10px;
  height: 80px;
  width: 90px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.número-n{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: var(--cor_item);
  margin-left: 15px;
}

.texto-curiosidade{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: var(--cor_item);
}


