body {
  margin: 0;
  padding: 0;
  background-color: var(--cor_azul);
}

/* fontes */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* cores */
:root {
  --cor_nav: #7b1c18;
  --cor_item: #ffd700;
  --cor_hover: rgb(250, 250, 250);
  --cor_div: #1A1A1A;
  --cor_elegante: #D4AF37;
  --cor_azul: #0c3351;
  --vermelho_vivo: #ff3131;
}

/* cabeçalho */
#nav {
  background-color: var(--cor_nav);
  border: var(--cor_item) 1px solid;
  border-radius: 2px;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0%
}

#logo {
  width: 500px;
  margin: 2px;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: 0.3s;
}

#navegar {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.item {
  color: var(--cor_item);
  margin: 20px;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.item:hover {
  color: var(--cor_hover);
  text-decoration: underline;
}


/* seção 1  */

#linha{
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--cor_item);
}

#section{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
}

#conteudo{
  display: flex;
  gap: 30px;
  margin-top: 100px;
}

#filme1{
  width: 400px;
  border: var(--cor_elegante) 1px  solid ;
  border-radius: 10px;
  transition: 0.3s;
}

#filme1:hover{
  transform: scale(1.1);
}


#titulo{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_item);
}

#titulo2{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_hover);
}

#paragrafo{
  border: var(--cor_nav) 2px solid;
  border-radius: 10px;
  background-color: var(--cor_nav);
  padding: 20px;
  color: var(--cor_item);
  font-size: 20px;
  width: 700px;
}

#texto{
  display: flex;
  flex-direction: column;
}

#separador{
  margin-left: 50px;
}




.trailer{
  color: var(--cor_hover);
  background-color: var(--cor_nav);
  transition: 0.3s;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 0.5px var(--cor_nav) solid;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 20px;
}

.trailer:hover{
  transform: scale(1.1);
}


/* considerações  */

#centralizar{
  display: flex;
  justify-content: center;
}

#u{
  display: flex;
  flex-direction: column;
}

#itemL{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_item);
  font-size: 30px;
  margin: 5px;
}


/* baixo  */

#footer{
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: var(--cor_item);
}

#meunome{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 80px;
  color: var(--cor_nav);
  font-size: 50px;
}

#meuinsta{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 50px;
  color: var(--cor_nav);
  margin-left: 200px;
  transition: 0.3s;
}
#meuinsta:hover{
  font-size: 52px;
}

#autor{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 230px;
  color: var(--cor_nav);
  font-size: 50px;
}

#fraseinsta{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 150px;
  color: var(--cor_nav);
  font-size: 50px;
}