body{
  margin: 0;
  padding: 0;
}
/* fontes */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* cores  */

:root {
  --cor_nav: #7b1c18;
  --cor_item: #ffd700;
  --cor_hover: rgb(250, 250, 250);
  --cor_div: #1a1a1a;
  --cor_elegante: #d4af37;
  --cor_azul: #0c3351;
  --vermelho_vivo: #ff3131;
  --legado: #0b0b0b;
}