body {
  margin: 0;
  padding: 0;
  background-color: var(--legado);
}

/* fontes */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* cores */
:root {
  --cor_nav: #7b1c18;
  --cor_item: #ffd700;
  --cor_hover: rgb(250, 250, 250);
  --cor_div: #1a1a1a;
  --cor_elegante: #d4af37;
  --cor_azul: #0c3351;
  --vermelho_vivo: #ff3131;
  --legado: #0b0b0b;
}

/* cabeçalho */
#nav {
  background-color: var(--cor_nav);
  border: var(--cor_item) 1px solid;
  border-radius: 2px;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0%;
}

#logo {
  width: 500px;
  margin: 2px;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: 0.3s;
}

#navegar {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.item {
  color: var(--cor_item);
  margin: 20px;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.item:hover {
  color: var(--cor_hover);
  font-size: 35px;
  text-decoration: underline;
}


/* SEÇÃO 1 */

#title {
  margin-top: 200px;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_item);
  display: flex;
  justify-content: center;
  font-size: 100px;
}

#main {
  margin-top: 180px;
}

#linha {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  height: 1px;
  border: none;
  background-color: var(--cor_item);
}


.texto1{
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_item);
  font-size: 50px;
}


.div{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.texto2{
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cor_hover);
  font-size: 50px;
}

.imagem_legado{
  width: 800px;
  transition: 0.3s;
  border: 1px var(--cor_item) solid;
  border-radius: 10px;
}

.imagem_legado:hover{
  transform: scale(1.05);
}

/* baixo */

#footer{
  display: flex;
  align-items: center;
  background-color: var(--cor_item);
}

#meunome{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 80px;
  color: var(--cor_nav);
  font-size: 50px;
}

#meuinsta{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 50px;
  color: var(--cor_nav);
  margin-left: 200px;
  transition: 0.3s;
}
#meuinsta:hover{
  font-size: 52px;
}

#autor{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 230px;
  color: var(--cor_nav);
  font-size: 50px;
}

#fraseinsta{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 150px;
  color: var(--cor_nav);
  font-size: 50px;
}