body{
  margin: 0;
  padding: 0;
}
/* fontes */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* titulos de todas as seções */
.titlesection{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--cor_item);
  text-align: center;
}
/* cores */
:root{
  --cor_nav: #7b1c18;
  --cor_item: #ffd700;
  --cor_hover: rgb(250, 250, 250);
  --cor_div: #1A1A1A;
  --cor_elegante: #D4AF37;
  --cor_azul: #0c3351;
  --vermelho_vivo: #ff3131;
}
/* cabeçalho */
#nav{
  background-color: var(--cor_nav);
  border: var(--cor_item) 1px solid;
  border-radius: 2px;
  position: fixed;
  z-index: 5;
  width: 100%;
  top:0%
}
#logo{
  width: 500px;
  margin: 2px;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: 0.3s;
}
#navegar{
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.item{
  color: var(--cor_item);
  margin: 20px;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
}
.item:hover{
  color: var(--cor_hover);
  text-decoration: underline;
}
/* cor de fundo */
#main{
  background-color: var(--cor_nav);
}
/* seçÃO1 */

#capa {
  background-image: url("imagens/capa.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;     
  display: flex;       
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

#tituloscapa {
  font-family: "Iceberg", sans-serif;
  font-size: 30px;
  color: #ffd700;
  text-align: center;
  z-index: 2;
  margin-top: 17%;
}


#titleone{
  margin: 0%;
}

#titletwo{
  margin: 0%;
}

#paraum{
  margin: 0%;
  border: var(--cor_nav) 3px solid;
  border-radius: 100px;
  padding: 3px;
  background-color: var(--cor_nav);
}
/* seção2 */
#tony{
  background-color: var(--cor_nav);
}

#imgstony{
  display: flex;
}


#img1{
  width: 300px;
  height: auto;
  margin: 20px;
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  transition: 0.3s;
  margin-left: 100px;
}
#img2{
  width: 368px;
  height: auto;
  margin: 20px;
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  transition: 0.3s;
}

#img3{
  width: 460px;
  height: auto;
  margin: 20px;
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  transition: 0.3s;
}

#img4{
  width: 390px;
  height: auto;
  margin: 20px;
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  transition: 0.3s;
}

#img1:hover{
  transform: scale(1.05);
}
#img2:hover{
  transform: scale(1.05);
}
#img3:hover{
  transform: scale(1.05);
}
#img4:hover{
  transform: scale(1.05);
}

#mãe{
  display: flex;
  padding: 10px;
  gap: 30px;
}
#p1tony{
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  background-color: var(--cor_nav);
  flex: 1 1 300px;
  padding: 10px 20px 5px 20px;
}



#texto1{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: var(--cor_item);
}

 /* seção 2   */

#imgsIronman {
  display: flex;
  gap: 150px;
  margin-left: 140px;
  margin-right: 150px;
  margin-bottom: 20px;
}

#img5 {
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

#img6 {
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

#img7{
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

#img8{
  border: var(--cor_item) 1px solid;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

#img5:hover{
  transform: scale(1.05);
}

#img6:hover{
  transform: scale(1.05);
}

#img7:hover{
  transform: scale(1.05);
}

#img8:hover{
  transform: scale(1.05);
}
/* baixo */

#footer{
  display: flex;
  align-items: center;
  background-color: var(--cor_item);
}

#meunome{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 80px;
  color: var(--cor_nav);
  font-size: 50px;
}

#meuinsta{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 50px;
  color: var(--cor_nav);
  margin-left: 200px;
  transition: 0.3s;
}
#meuinsta:hover{
  font-size: 52px;
}

#autor{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 230px;
  color: var(--cor_nav);
  font-size: 50px;
}

#fraseinsta{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 150px;
  color: var(--cor_nav);
  font-size: 50px;
}






