body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--cor_azul);
}

::selection {
  color: black;
  background-color: var(--cor_item);
}

::-webkit-scrollbar{
  display: none;
}
/* fontes */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* cores  */

:root {
  --cor_nav: #7b1c18;
  --cor_item: #ffd700;
  --cor_hover: rgb(250, 250, 250);
  --cor_div: #1a1a1a;
  --cor_elegante: #d4af37;
  --cor_azul: #0c3351;
  --vermelho_vivo: #ff3131;
  --legado: #0b0b0b;
}

/* cabeçalho */
#nav{
  background-color: var(--cor_nav);
  border: var(--cor_item) 1px solid;
  border-radius: 2px;
  position: fixed;
  z-index: 5;
  width: 100%;
  top:0%
}
#logo{
  width: 500px;
  margin: 2px;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: 0.3s;
}
#navegar{
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.item{
  color: var(--cor_item);
  margin: 20px;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
}
.item:hover{
  color: var(--cor_hover);
  text-decoration: underline;
}


/* seção 1  */

#section1{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 200px;
}

.cabecalho-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub-title{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: var(--cor_item);
}

.title-pag{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: var(--cor_item);
}